<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syrous.yccestudentlibraryjava">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ycce"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.el.ElectricalAdapter"></activity>
        <activity android:name=".ui.el.ElectricalHome" />
        <activity android:name=".ui.ee.ElectronicsAdapter" />
        <activity android:name=".ui.ee.ElectronicsHome" />
        <activity android:name=".ui.etc.EtcAdapter" />
        <activity android:name=".ui.etc.EtcHome" />
        <activity android:name=".ui.mech.MechHome" />
        <activity android:name=".ui.mech.MechAdapter" />
        <activity android:name=".ui.ctech.CtechAdapter" />
        <activity android:name=".ui.ctech.CtechHome" />
        <activity android:name=".ui.it.ItHome" />
        <activity android:name=".ui.it.ItAdapter" />
        <activity android:name=".ui.civil.CivilHOme" />

        <activity android:name=".ui.home.HomeActivity"
            android:label="@string/ycce"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>